<div style = "text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<!--<app-test></app-test>-->
<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>
<router-outlet></router-outlet>
